In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv('data.csv', names = ["#A","B","#C","D","#E","F","G","H","I","J","#K","#L","#M","N","O"], header = None)

In [8]:
df = df[~df.eq("?").any(1)]

C:\Users\Thoma\conda\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [4]:
df.head()

   #A   B      #C   D  #E   F   G   H   I   J    #K  #L  #M   N      O
0  39  A0   77516  B0  13  C0  D0  E0  F0  G0  2174   0  40  H0  SMALL
1  50  A1   83311  B0  13  C1  D1  E1  F0  G0     0   0  13  H0  SMALL
2  38  A2  215646  B1   9  C2  D2  E0  F0  G0     0   0  40  H0  SMALL
3  53  A2  234721  B2   7  C1  D2  E1  F1  G0     0   0  40  H0  SMALL
4  28  A2  338409  B0  13  C1  D3  E2  F1  G1     0   0  40  H1  SMALL

In [5]:
from sklearn.model_selection import train_test_split

In [37]:
test_data = df[['#A', '#C', '#E', '#K', '#L', 'O']]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(test_data.drop('O',axis=1), 
                                                   test_data['O'], test_size=0.30, 
                                                  random_state=101)

In [6]:
from sklearn.linear_model import LogisticRegression

In [9]:
logmodel = LogisticRegression(solver='liblinear')
logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [10]:
predictions = logmodel.predict(X_test)

In [7]:
from sklearn.metrics import classification_report

In [12]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

       LARGE       0.69      0.27      0.39      2306
       SMALL       0.79      0.96      0.87      6743

    accuracy                           0.78      9049
   macro avg       0.74      0.61      0.63      9049
weighted avg       0.77      0.78      0.75      9049

In [75]:
#["#A","B","#C","D","#E","F","G","H","I","J","#K","#L","#M","N","O"]
df2 = pd.DataFrame(df)

In [76]:
b = pd.get_dummies(df2['B'],drop_first=True)
d = pd.get_dummies(df2['D'],drop_first=True)
f = pd.get_dummies(df2['F'],drop_first=True)
g = pd.get_dummies(df2['G'],drop_first=True)
h = pd.get_dummies(df2['H'],drop_first=True)
i = pd.get_dummies(df2['I'],drop_first=True)
j = pd.get_dummies(df2['J'],drop_first=True)
n = pd.get_dummies(df2['N'],drop_first=True)

In [77]:
df2.drop(['B','D','F','G', 'H','I','J','N'],axis=1,inplace=True)

In [78]:
df2 = pd.concat([df2,b,d,f,g,h,i,j,n],axis=1)

In [79]:
df2.head()

,#A,#C,#E,#K,#L,#M,O,A1,A2,A3,...,H37,H38,H39,H40,H41,H5,H6,H7,H8,H9
0,39,77516,13,2174,0,40,SMALL,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,50,83311,13,0,0,13,SMALL,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,38,215646,9,0,0,40,SMALL,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,53,234721,7,0,0,40,SMALL,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,28,338409,13,0,0,40,SMALL,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [57]:
testdat = df2.drop('O',axis = 1)

In [60]:
X_train, X_test, y_train, y_test = train_test_split(testdat, 
                                                   df2['O'], test_size=0.30, 
                                                  random_state=101)

In [62]:
logmodel2 = LogisticRegression(solver='liblinear')
logmodel2.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [63]:
predictions2 = logmodel2.predict(X_test)

In [65]:
print(classification_report(y_test,predictions2))

              precision    recall  f1-score   support

       LARGE       0.70      0.27      0.39      2306
       SMALL       0.79      0.96      0.87      6743

    accuracy                           0.78      9049
   macro avg       0.75      0.61      0.63      9049
weighted avg       0.77      0.78      0.75      9049

In [9]:
from sklearn import preprocessing

In [108]:
scaler = preprocessing.StandardScaler()

In [115]:
df3 = pd.DataFrame(df[['#A','#C','#E','#K', '#L','#M']])
names = df3.columns

In [116]:
df3.head()

   #A      #C  #E    #K  #L  #M
0  39   77516  13  2174   0  40
1  50   83311  13     0   0  13
2  38  215646   9     0   0  40
3  53  234721   7     0   0  40
4  28  338409  13     0   0  40

In [167]:
scaled_df = scaler.fit_transform(df3)
scaled_df = pd.DataFrame(scaled_df, columns=names)

In [168]:
X_train, X_test, y_train, y_test = train_test_split(scaled_df, 
                                                   df['O'], test_size=0.30, 
                                                  random_state=101)

In [169]:
logmodel3 = LogisticRegression(solver='liblinear')
logmodel3.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [170]:
predictions3 = logmodel3.predict(X_test)

In [171]:
print(classification_report(y_test,predictions3))

              precision    recall  f1-score   support

       LARGE       0.72      0.39      0.51      2306
       SMALL       0.82      0.95      0.88      6743

    accuracy                           0.81      9049
   macro avg       0.77      0.67      0.70      9049
weighted avg       0.80      0.81      0.79      9049